.list-group-item {
    background-color: #fbfbfb;
    border: none;
    border-radius: 0 !important;
    height: 60px;
}

p{
    font-style: italic;
    margin-top: -5px;
}

.cat-name{
    margin: -10px;
}

h4{
    color:#222;
}

.action-buttons{
    margin-top: -44px;
}

a {
    border-radius: 5px;
    color:#fff;
    padding: 10px;;
}

.trash{
    background-color: #fe635f; 
}

.edit{
    background-color: #2bbcde; 
    margin-right: 10px;
}